# Load Data

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# !pip install geopy

In [ ]:
df_driver = pd.read_csv('/content/drive/MyDrive/w9_remote/driver_locations_during_request.csv')
data_order = pd.read_csv('/content/drive/MyDrive/w9_remote/nb.csv')

# Data Preprocessing

## Clean Dataset - order dataset

### dataset table

In [ ]:
df_driver.drop(columns=['created_at','updated_at'],inplace=True)

### rename dataset columns

In [ ]:
df_order = pd.DataFrame()
cols = ['trip_id','trip_origin','trip_destination','trip_start_time','trip_end_time']
for i in range(len(cols)):
  df_order[cols[i]] = data_order.iloc[:,i]

### split the latitude and longtude and convert them to float

In [ ]:
origin = df_order["trip_origin"].str.split(",", n = 1, expand = True)
dest = df_order["trip_destination"].str.split(",", n = 1, expand = True)

In [ ]:
df_order['origin_lat'] = origin[0]
df_order['origin_lon'] = origin[1]
df_order['dest_lat'] = dest[0]
df_order['dest_lon'] = dest[1]

In [ ]:
df_order.drop(columns=['trip_origin','trip_destination'],inplace=True)

In [ ]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   trip_id          536020 non-null  int64
 1   trip_start_time  534369 non-null  object
 2   trip_end_time    536019 non-null  object
 3   origin_lat       536020 non-null  object
 4   origin_lon       536020 non-null  object
 5   dest_lat         536020 non-null  object
 6   dest_lon         536020 non-null  object
dtypes: int64(1), object(6)
memory usage: 28.6+ MB

In [226]:
df_order.isnull().sum()

index              0
order_id           0
trip_start_time    0
trip_end_time      0
origin_lat         0
origin_lon         0
dest_lat           0
dest_lon           0
distance           0
duration           0
year               0
month              0
wee                0
dtype: int64

In [ ]:
# !pip install haversine

In [ ]:
# import haversine as hs
# from haversine import Unit

In [225]:
df_order.dest_lat=df_order.dest_lat.astype(float)
df_order.dest_lon=df_order.dest_lon.astype(float)
df_order.origin_lat=df_order.origin_lat.astype(float)
df_order.origin_lon=df_order.origin_lon.astype(float)

### compute absolute distance

In [ ]:
# from geopy.distance import great_circle as GRC

In [ ]:
from geopy.distance import great_circle as GRC

In [ ]:
df_order['distance'] = df_order.apply(lambda row: GRC((row['origin_lat'], row['origin_lon']), (row['dest_lat'], row['dest_lon'])).m, axis=1)
# df_order['distance_h'] = df_order.apply(lambda row: hs.haversine((row['origin_lat'], row['origin_lon']), (row['dest_lat'], row['dest_lon']),unit='m'), axis=1)

### absolute distance is zero

In [ ]:
df_order[df_order.distance==0]

In [ ]:
df_order

### trip start and end time

In [ ]:
# drop null entries
df_order.dropna(inplace=True)

In [ ]:
df_order['trip_start_time'] = pd.to_datetime(df_order['trip_start_time'])
df_order['trip_end_time'] = pd.to_datetime(df_order['trip_end_time'])

In [ ]:
df_order['duration'] = (df_order['trip_end_time'] - df_order['trip_start_time']).dt.total_seconds()

In [ ]:
(df_order['trip_end_time'] - df_order['trip_start_time']).dt.days.value_counts()

0      533410
1         576
2         151
3          67
4          41
5          36
8          10
6           9
10          8
7           6
9           5
13          3
12          3
17          3
15          2
23          2
11          2
63          2
96          2
40          2
28          2
24          2
22          1
60          1
31          1
94          1
34          1
70          1
35          1
48          1
69          1
26          1
64          1
19          1
206         1
16          1
29          1
100         1
107         1
25          1
36          1
61          1
21          1
62          1
86          1
18          1
dtype: int64

* zero trip duration

In [227]:
df_order[df_order.duration == df_order.duration.min()].duration

180279    0.0
189522    0.0
292391    0.0
469578    0.0
501343    0.0
Name: duration, dtype: float64

In [ ]:
df_order.isnull().sum()

trip_id            0
trip_start_time    0
trip_end_time      0
origin_lat         0
origin_lon         0
dest_lat           0
dest_lon           0
distance           0
duration           0
dtype: int64

In [ ]:
df_order.nunique()

trip_id            534368
trip_start_time    512515
trip_end_time      512782
origin_lat         110170
origin_lon         107207
dest_lat           144210
dest_lon           140378
distance           474019
duration            23205
dtype: int64

### zero duration columns

In [ ]:

df_order[df_order.duration==0]

### largest duration columns

In [ ]:
df_order.duration.nlargest(5)

328184    17813706.0
240058     9309381.0
264209     8710336.0
302979     8355797.0
140962     8301181.0
Name: duration, dtype: float64

In [ ]:
df_order.reset_index(inplace=True)

In [ ]:
df_order.duration.nlargest(5)

327898    17813706.0
239866     9309381.0
263987     8710336.0
302722     8355797.0
140844     8301181.0
Name: duration, dtype: float64

### new features

In [228]:
df_order['year'] = df_order['trip_start_time'].dt.year
df_order['month'] = df_order['trip_start_time'].dt.month
df_order['hour'] = df_order['trip_start_time'].dt.hour

In [230]:
df_order.drop(columns=['wee'],inplace=True)

In [233]:
df_order.hour.unique()

array([ 7,  6,  9, 10,  8, 11, 13, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23,
        2,  0,  5, 22,  1,  4,  3])

In [ ]:
df_order

In [238]:
df_order.to_csv('df_order.csv',index_label=None)

## Clean Dataset - Data Driver

### data driver table

In [ ]:
df_driver.head()

In [ ]:
df_driver.dtypes

id                 int64
order_id           int64
driver_id          int64
driver_action     object
lat              float64
lng              float64
dtype: object

### acceptance value counts

In [ ]:
df_driver.driver_action.value_counts()

rejected    1531837
accepted      25903
Name: driver_action, dtype: int64

## Merge the datasets

In [239]:
df_order.rename(columns = {'trip_id':'order_id'},inplace=True)

In [240]:
df = df_driver.merge(df_order,how='inner',on='order_id')

In [241]:
df.order_id.nunique()

26458

In [242]:
df.driver_action.value_counts()

rejected    1529847
accepted      25871
Name: driver_action, dtype: int64

In [244]:
df.drop(columns=['id'],inplace=True)

In [246]:
df.describe()

,order_id,driver_id,lat,lng,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour
count,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06
mean,4.191817e+05,2.341504e+05,6.536075e+00,3.378822e+00,6.535654e+00,3.380029e+00,6.536117e+00,3.383491e+00,8.489182e+03,3.705213e+03,2.021000e+03,6.999965e+00,1.356604e+01
std,1.444435e+04,2.270439e+04,5.995268e-02,5.329471e-02,6.026214e-02,5.275148e-02,7.310955e-02,7.487250e-02,6.349889e+03,7.806279e+03,7.170815e-03,4.028703e-02,3.026006e+00
min,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.647106e+01,1.600000e+01,2.021000e+03,1.000000e+00,0.000000e+00
25%,4.067520e+05,2.429970e+05,6.498708e+00,3.348810e+00,6.499314e+00,3.350294e+00,6.465051e+00,3.342701e+00,4.008269e+03,1.722000e+03,2.021000e+03,7.000000e+00,1.100000e+01
50%,4.216870e+05,2.435890e+05,6.544250e+00,3.363503e+00,6.537572e+00,3.368576e+00,6.536838e+00,3.369805e+00,6.919488e+03,2.608000e+03,2.021000e+03,7.000000e+00,1.400000e+01
75%,4.293130e+05,2.440560e+05,6.593277e+00,3.385168e+00,6.591381e+00,3.387167e+00,6.596473e+00,3.406328e+00,1.131920e+04,3.922000e+03,2.021000e+03,7.000000e+00,1.600000e+01
max,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,8.226835e+00,8.522293e+00,7.703160e+00,8.607887e+00,6.828784e+05,2.234210e+06,2.022000e+03,9.000000e+00,2.300000e+01

In [247]:
df.shape, df_driver.shape, df_order.shape

((1555718, 16), (1557740, 6), (534368, 12))

In [248]:
df_accepted = df[df.driver_action=='accepted'].copy(deep=True)

In [249]:
df_accepted.drop(columns=['driver_action'],inplace=True)

In [250]:
df_accepted.reset_index(inplace=True)

In [251]:
df_accepted.drop(columns=['index'],inplace=True)

In [253]:
df_accepted.describe()

,order_id,driver_id,lat,lng,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour
count,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000
mean,420032.315025,236950.182869,6.528154,3.389208,6.528024,3.389423,6.522929,3.401055,11536.180757,3772.363109,2021.000116,6.999536,13.229717
std,16506.709366,19629.496290,0.071303,0.080260,0.079433,0.081154,0.102009,0.098738,12136.372978,7115.513966,0.010768,0.060277,3.102313
min,392001.000000,121981.000000,6.415885,3.076561,1.000000,1.000000,1.000000,1.000000,16.471055,16.000000,2021.000000,1.000000,0.000000
25%,405690.500000,243203.000000,6.453507,3.343523,6.455103,3.345503,6.449389,3.346477,5369.247981,1668.000000,2021.000000,7.000000,11.000000
50%,420379.000000,243679.000000,6.527532,3.369349,6.527243,3.371989,6.514889,3.379300,9816.814170,2776.000000,2021.000000,7.000000,13.000000
75%,434017.500000,244147.000000,6.594942,3.427251,6.594339,3.423915,6.593874,3.460672,15841.895164,4243.000000,2021.000000,7.000000,16.000000
max,517948.000000,247877.000000,7.702536,8.515414,8.226835,8.522293,7.703160,8.607887,682878.368122,326248.000000,2022.000000,9.000000,23.000000

## Explore the merged dataset

### overview

In [254]:
df.describe()

,order_id,driver_id,lat,lng,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour
count,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06
mean,4.191817e+05,2.341504e+05,6.536075e+00,3.378822e+00,6.535654e+00,3.380029e+00,6.536117e+00,3.383491e+00,8.489182e+03,3.705213e+03,2.021000e+03,6.999965e+00,1.356604e+01
std,1.444435e+04,2.270439e+04,5.995268e-02,5.329471e-02,6.026214e-02,5.275148e-02,7.310955e-02,7.487250e-02,6.349889e+03,7.806279e+03,7.170815e-03,4.028703e-02,3.026006e+00
min,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.647106e+01,1.600000e+01,2.021000e+03,1.000000e+00,0.000000e+00
25%,4.067520e+05,2.429970e+05,6.498708e+00,3.348810e+00,6.499314e+00,3.350294e+00,6.465051e+00,3.342701e+00,4.008269e+03,1.722000e+03,2.021000e+03,7.000000e+00,1.100000e+01
50%,4.216870e+05,2.435890e+05,6.544250e+00,3.363503e+00,6.537572e+00,3.368576e+00,6.536838e+00,3.369805e+00,6.919488e+03,2.608000e+03,2.021000e+03,7.000000e+00,1.400000e+01
75%,4.293130e+05,2.440560e+05,6.593277e+00,3.385168e+00,6.591381e+00,3.387167e+00,6.596473e+00,3.406328e+00,1.131920e+04,3.922000e+03,2.021000e+03,7.000000e+00,1.600000e+01
max,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,8.226835e+00,8.522293e+00,7.703160e+00,8.607887e+00,6.828784e+05,2.234210e+06,2.022000e+03,9.000000e+00,2.300000e+01

### Holiday Mapping

In [ ]:
# !pip install holidays
# import holidays

In [ ]:
# us_holidays = holidays.NG()
# df_order['holidays']=df_order.trip_start_time.isin(us_holidays)*1

In [257]:
from pandas.tseries.holiday import *
from pandas.tseries.offsets import CustomBusinessDay

class NigeriaCalendar(AbstractHolidayCalendar):
   rules = [
     Holiday('New Year', month=1, day=1, observance=sunday_to_monday),
     Holiday('Good Friday', month=4, day=2, observance=sunday_to_monday),
     Holiday('Easter Monday', month=4, day=5, observance=sunday_to_monday),
     Holiday('Workers Day', month=5, day=1,observance=sunday_to_monday),
     Holiday('Eid-el-fitri Sallah Holiday', month=5, day=12),
     Holiday('Democracy Day', month=6, day=14, observance=sunday_to_monday),
     Holiday('Id el Kabir', month=7, day=20, observance=nearest_workday),
     Holiday('Id el Kabir Holiday', month=7, day=21, observance=sunday_to_monday),
     Holiday('Independence Day', month=10, day=1, observance=sunday_to_monday),
     Holiday('Eidul-Mawlid', month=10, day=19, observance=nearest_workday),
     Holiday('Christmas Day', month=12, day=25, observance=nearest_workday),
     Holiday('Boxing Day', month=12, day=26),
     Holiday('Christmas Day', month=12, day=27, observance=nearest_workday),
     Holiday('Boxing Day', month=12, day=28)
   ]

In [258]:
# NC = CustomBusinessDay(calendar=NigeriaCalendar())
# s = pd.date_range('2021-12-01', end='2021-12-28', freq=NC)
# df = pd.DataFrame(s, columns=['Date'])
# print(df)

In [259]:
NC = CustomBusinessDay(calendar=NigeriaCalendar())
total = pd.date_range(start=df.trip_start_time.dt.date.unique().min(), end=df.trip_start_time.dt.date.unique().max())
working = pd.date_range(start=df.trip_start_time.dt.date.unique().min(), end=df.trip_start_time.dt.date.unique().max(), freq=NC)
# df = pd.DataFrame(s, columns=['Date'])

In [260]:
holiday = set(total.date)-set(working.date)

In [261]:
df['isHoliday'] = df.trip_start_time.dt.date.isin(holiday)*1

In [263]:
df['isHoliday'].value_counts()/df.shape[0] *100

0    87.15217
1    12.84783
Name: isHoliday, dtype: float64

In [266]:
df['driver_proximity'] = df.apply(lambda row: GRC( (row['lat'], row['lng']),(row['origin_lat'], row['origin_lon'])).m, axis=1)

In [ ]:
df.head()

In [269]:
df.describe()

,order_id,driver_id,lat,lng,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour,isHoliday,driver_proximity
count,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06
mean,4.191817e+05,2.341504e+05,6.536075e+00,3.378822e+00,6.535654e+00,3.380029e+00,6.536117e+00,3.383491e+00,8.489182e+03,3.705213e+03,2.021000e+03,6.999965e+00,1.356604e+01,1.284783e-01,1.821102e+03
std,1.444435e+04,2.270439e+04,5.995268e-02,5.329471e-02,6.026214e-02,5.275148e-02,7.310955e-02,7.487250e-02,6.349889e+03,7.806279e+03,7.170815e-03,4.028703e-02,3.026006e+00,3.346217e-01,1.166246e+03
min,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.647106e+01,1.600000e+01,2.021000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.067520e+05,2.429970e+05,6.498708e+00,3.348810e+00,6.499314e+00,3.350294e+00,6.465051e+00,3.342701e+00,4.008269e+03,1.722000e+03,2.021000e+03,7.000000e+00,1.100000e+01,0.000000e+00,1.108226e+03
50%,4.216870e+05,2.435890e+05,6.544250e+00,3.363503e+00,6.537572e+00,3.368576e+00,6.536838e+00,3.369805e+00,6.919488e+03,2.608000e+03,2.021000e+03,7.000000e+00,1.400000e+01,0.000000e+00,1.717132e+03
75%,4.293130e+05,2.440560e+05,6.593277e+00,3.385168e+00,6.591381e+00,3.387167e+00,6.596473e+00,3.406328e+00,1.131920e+04,3.922000e+03,2.021000e+03,7.000000e+00,1.600000e+01,0.000000e+00,2.435290e+03
max,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,8.226835e+00,8.522293e+00,7.703160e+00,8.607887e+00,6.828784e+05,2.234210e+06,2.022000e+03,9.000000e+00,2.300000e+01,1.000000e+00,6.590527e+05

In [270]:
df.to_csv('df.csv',index_label=None)

In [271]:
df_accepted.to_csv('df_accepted',index_label=None)